# Ignore developer-docs directory
developer-docs/

# Ignore extensions directory
extensions/

# Ignore forks directory
forks/

# Ignore node_modules directory inside any folder
**/node_modules/

# Misc
.DS_Store